---
import ArrowEntry from "@/components/custom/arrowEntry.astro"
import Layout from "@/layouts/main.astro"
---

<Layout>
  <div class="absolute top-1/2 left-20 z-10 -translate-y-1/2">
    <h3 class="font-marker text-muted-foreground">Learn more about</h3>
    <h1 class="font-marker text-9xl tracking-widest text-primary">ME</h1>

    <ul class="max-w-md space-y-2">
      <ArrowEntry link="/" className="h-full w-full">
        Back to Home
      </ArrowEntry>

      <ArrowEntry link="/about/who-am-i" className="h-full w-full">
        Who am I?
      </ArrowEntry>

      <ArrowEntry link="/about/my-skills" className="h-full w-full">
        My Skills
      </ArrowEntry>
    </ul>
  </div>
</Layout>
