---
// Props typ
type Props = {
  link?: string
  className?: string
}

// Props
const { link, className = "" } = Astro.props
---

<a href={link}>
  <li
    class="group relative cursor-pointer rounded-lg px-4 py-3 transition-all duration-300"
  >
    {/* Arrow */}
    <div
      class="pointer-events-none absolute inset-0 flex items-center justify-start overflow-hidden rounded-2xl border-l border-primary opacity-0 transition-opacity duration-300 group-hover:opacity-100 -z-10"
    >
      <span class="font-marker text-8xl text-primary blur-sm">></span>
    </div>

    {/* Content */}
    <span class={"relative flex " + className}>
      <slot />
    </span>
  </li>
</a>
