---
import { Button } from "../ui/button"
import { HomeIcon } from "lucide-react"
---

<div class="absolute top-5 left-5">
  <a href="/">
    <Button size="icon" variant="ghost" client:visible>
      <HomeIcon />
    </Button>
  </a>
</div>
