---
import ArrowEntry from "@/components/custom/arrowEntry.astro"
import Layout from "@/layouts/main.astro"
---

<Layout>
  <div class="absolute top-1/2 left-20 z-10 -translate-y-1/2">
    <h3 class="font-marker text-muted-foreground">A random internet user</h3>
    <h1 class="font-marker text-9xl tracking-widest text-primary">TFJ</h1>

    <ul class="max-w-md space-y-2">
      <!-- About me -->
      <ArrowEntry link="/about" className="h-full w-full">
        About Me
      </ArrowEntry>

      <!-- Links overview -->
      <ArrowEntry link="/links" className="h-full w-full"> Links </ArrowEntry>

      <!-- Source code -->
      <ArrowEntry link="/source-code" className="h-full w-full opacity-70">
        View source code
      </ArrowEntry>
    </ul>
  </div>
</Layout>
