---
import Layout from "@/layouts/main.astro"
import FloatingTheme from "@/components/custom/floatingTheme.astro"
import FloatingHome from "@/components/custom/floatingHome.astro"
---

<Layout>
  {/* Buttons */}
  <FloatingHome />
  <FloatingTheme />

  {/* Content */}
  <div class="flex h-screen">
    <div class="m-auto overflow-hidden border bg-background/75">
      <img
        src="https://www.garnelio.de/media/image/d3/88/57/loi4.jpg"
        alt="*Image of Koi"
        class="h-100"
      />
      <h2 class="m-2">Stay koi, stay calm.</h2>
    </div>
  </div>
</Layout>
